html{
background:url("../img/backgroundpc.jpg") no-repeat center fixed;
background-size:100% 100%;
}
body {
	font-size: 2vw;
}

.left_div {
	background-color:blue;
}

.mid_div {
	background-color:red;
	}
	
.right_div {
	background-color:green;
	}

.left_div,.mid_div,.right_div {
	display:inline-block;
	width:33.33%;
	height:100%;
}
.contenedor {
	background-size:100% 100%;
	position: absolute;
	top: 1.5%;
	right: 2%;
	height: 57%;
	width: 13%;
}
.bottomplay {
	background:url("../img/pause.png") no-repeat;
	background-size:100% 100%;
	position: absolute;
	top: 3%;
	right: 18%;
	height: 27%;
	width: 57%;
}
.bottomretry {
	background:url("../img/retry.png") no-repeat;
	background-size:100% 100%;
	position: absolute;
	top: 36%;
	right: 18%;
	height: 27%;
	width: 57%;
}
.bottomsettings {
	background:url("../img/pause2.png") no-repeat;
	background-size:100% 100%;
	position: absolute;
	bottom: 3%;
	right: 18%;
	height: 27%;
	width: 57%;
}
.nave {
	background:url("../img/super.gif") no-repeat ;
	background-size:100%;
	position: absolute;
	bottom: 45%;
	left: 45%;
	height: 30%;
	width: 12%;
}
.panelcontrol {
	background-color:green;
	background-size:100%;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 38%;
	width: 21.5%;
	border: solid 3px black;
}
.fuel {
	background-color:yellow;
	background-size:100%;
	position: absolute;
	top:10%;
	left:5%;
	height:16%;
	width:54%;
	border: solid 3px black;
}
.altitud {
	background-color:yellow;
	background-size:100%;
	position: absolute;
	top:39%;
	left:5%;
	height:16%;
	width:54%;
	border: solid 3px black;
}
.velocidad {
	background-color:yellow;
	background-size:100%;
	position: absolute;
	bottom:12%;
	left:5%;
	height:16%;
	width:54%;
	border: solid 3px black;
}
#texto1 {
	position:relative;
	left:33%;
	top:20%;
}
#texto2 {
	position:relative;
	left:28%;
	top:20%;
}
#texto3 {
	position:relative;
	left:17%;
	top:20%;
}
.fuel1 {
	background-color:yellow;
	background-size:100%;
	position: absolute;
	top:10%;
	right:5%;
	height:16%;
	width:25%;
	border: solid 3px black;
}
.altitud1 {
	background-color:yellow;
	background-size:100%;
	position: absolute;
	top:39%;
	right:5%;
	height:16%;
	width:25%;
	border: solid 3px black;
}
.velocidad1 {
	background-color:yellow;
	background-size:100%;
	position: absolute;
	bottom:12%;
	right:5%;
	height:16%;
	width:25%;
	border: solid 3px black;
}
.instrucciones {
	background:url("../img/instrucciones.png") no-repeat;
	background-size:100%;
	position:absolute;
	bottom:10%;
	left:5%;
	height:40%;
	width:25%;
}